
<div class="container mt-5 text-center">
    <div class="card">

        <div class="card-body">
            <p class="card-text">ليس لديك صلاحية للوصول إلى هذه الصفحة.</p>
            <a href="@Url.Action("Index", "Vehicle")" class="btn btn-primary">العودة إلى الصفحة الرئيسية</a>
        </div>
    </div>
</div>
