@model AGOC.ViewModels.VehiclesLookupMainIndexViewModel

<div class="container mt-4">
    <h2 class="text-center mb-4">أنواع المركبات</h2>

    <!-- Button to open the modal -->
    <div class="text-right mb-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createVehicleModal">
            إضافة نوع مركبة جديد
        </button>
    </div>

    <!-- Grid Column -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>#</th>
                        <th>الوصف</th>
                        <th>الاجراءات</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var lookup in Model.PaginatedVehicles.Items)
                    {
                        <tr>
                            <td>@lookup.Id</td>
                            <td>@lookup.Description</td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = lookup.Id })" class="btn btn-warning btn-sm">تعديل</a>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteConfirmationModal" data-id="@lookup.Id">حذف</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Pagination Partial View -->
            @await Html.PartialAsync("~/Views/Shared/PartialView/_Pagination.cshtml", Model.PaginatedVehicles)
        </div>
    </div>
</div>

<!-- Bootstrap Modal for Create Form -->
<div class="modal fade" id="createVehicleModal" tabindex="-1" role="dialog" aria-labelledby="createVehicleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" id="createVehicleModalLabel">إضافة نوع مركبة جديد</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Create Form -->
                <form asp-action="Create" method="post" id="vehicleLookupForm">
                    <div class="form-group">
                        <label asp-for="CreateVehicleModel.Description" class="control-label">نوع المركبة</label>
                        <input asp-for="CreateVehicleModel.Description" class="form-control" placeholder="ادخل اسم السيارة" />
                        <span asp-validation-for="CreateVehicleModel.Description" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center mt-4">
                        <input type="submit" value="حفظ" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" id="confirmationModalLabel">تأكيد الحذف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                هل انت متأكد من الحذف؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmDeleteButton">نعم</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">لا</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            // Store the vehicle ID to be deleted
            var deleteId;

            // Show delete confirmation modal and capture the vehicle ID
            $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                deleteId = button.data('id'); // Extract info from data-* attributes
            });

            // Handle delete confirmation
            $('#confirmDeleteButton').click(function () {
                window.location.href = '/VehiclesLookupMain/Delete/' + deleteId;
            });
        });

        $(".close").click(function () {
            $('#deleteConfirmationModal').modal('hide');
        });
    </script>
}
